<% include ./partials/header.ejs%>

<div class="container">
    <div class="card w-50 my-0 mx-auto">
        <div class="card-header">
            <h1>Sign In</h1>
        </div>
        <div class="card-body">
            <form action="/login" method="POST">
                <input type="text" class="form-control mb-2" name="username" placeholder="Username">
                <input type="password" class="form-control mb-2" name="password" placeholder="Password">
                <div class="text-center"><button class="btn btn-primary mb-2" type="submit">Login</button></div>
            </form>
        </div>
    </div>
</div>

<% include ./partials/footer.ejs%>