<% include ../partials/header.ejs %>

<section class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome to campgrounds</h1>
			<p>View our hand-picked campgrounds from all ovre the world</p>
			<p>
				<a href="campgrounds/new" class="btn btn-primary">Add new Campground</a>
			</p> 
		</div>
	</header>
	<div class="row">
		<% campgrounds.forEach( function(element, index) { %>
			<div class="col-md-4 col-sm-6">
				<div class="card card-body p-1">
					<a href="/campgrounds/<%=element._id%>">
						<img src="<%= element.image%>" class="card-img-top img-fluid">
					</a>
					<p class="figure-caption text-center"><%= element.name %></p>
				</div>	
			</div>
		<% }) %>
	</div>
</section>

<% include ../partials/footer.ejs %>